<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td> | 
<%= link_to 'Articles List', articles_path %>